---
layout: default
---

<div class="ctn--home">
   <a href="/category/games2018"> 
      <div class="article box-two" style="">
           
            <div class="home-games2018">
                <h1>Games <span>of</span> 2018</h1>
                <h4 style="">The second year of putting all my thoughts about games into words</h4> 
            </div>
            <div>
            
           </div>
      </div>
    </a>
    <a href="/category/books"> 
      <div class="article box-three"">
          <div class="article--center book--center">
              
            <h1 class="book--heading" style="color: #fff;margin-top:-40px;width: 100%;">Books</h1>
            <h4 class="book--subheading" style="width: 100%;padding-left: 8px;">Thoughts on the books on rotation in my life</h4>
          </div>
      </div>
    </a>


</div>